<div class="container-fluid mt-3">
    <div>
      <p>Formulário Reativo Angular</p>
    </div>
  
    <div class="central">
      <div class="row">
        <div class="col-md-11 mx-auto espaco-top">
          <div class="card titulo-form text-center">
            <span>Cadastro</span>
          </div>
        </div>
      </div>
  
      <div class="row">
        <div class="col-md-12 mx-auto espaco-top">
          <!-- <app-form-cad-extra></app-form-cad-extra> -->
        </div>
      </div>
  
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  